
<mat-nav-list>
  
    <a  mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">home</mat-icon> <span class="nav-caption" style="color:#E62642; font-size: 20px;">Home</span>
    </a>
   
    <a *ngIf="a==2||d==5" mat-list-item routerLink="/home/settings" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">backup</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Article  Settings</span>
    </a>
    
    <a *ngIf="a==2||d==5" mat-list-item routerLink="/home/couriermaser" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">settings_applications</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Courier  Settings</span>
    </a>
    <a *ngIf="a==2||d==5" mat-list-item routerLink="/home/agrementsettings" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">settings_applications</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Agreement  Settings</span>
    </a>
    
    <a *ngIf="a==2||d==5" mat-list-item routerLink="/home/discountsettings" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">settings_applications</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Discount Settings</span>
    </a>
    <a *ngIf="a==2||d==5" mat-list-item routerLink="/home/notification" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">circle_notification</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Notification</span>
    </a>
    <a *ngIf="a==2||d==5" mat-list-item routerLink="/home/orderheader" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">list</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Order Header</span>
    </a>
    <a *ngIf="b==3||d==5" mat-list-item routerLink="/home/picker" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">list</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Picker Header</span>
    </a>
    <a *ngIf="c==4||d==5" mat-list-item routerLink="/home/packer" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">list</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Packer Header</span>
    </a>
    <a *ngIf="a==2||d==5" mat-list-item routerLink="/home/dispatch" (click)="onSidenavClose()">
      <mat-icon style="color: #E62642;">list</mat-icon><span class="nav-caption" style="color: #E62642; font-size: 20px;">Dispatch Header</span>
    </a>
  </mat-nav-list>