
<div class="row">
    <h4 class="dispaly-4" style="margin-left: 20px;"> Order Details</h4>
  <div class="cross">
    <button mat-stroked-button color="warn" [mat-dialog-close] > X</button>
  </div>
  </div>
  <hr>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
          <ng-container matColumnDef="Article">
            <th mat-header-cell *matHeaderCellDef> Article</th>
            <td mat-cell *matCellDef="let element"> <img [src]="service.imgUrl+element.imagE_NAME" /> </td>
          </ng-container>
    
    <ng-container matColumnDef="Article No">
      <th mat-header-cell *matHeaderCellDef> Article No</th>
      <td mat-cell *matCellDef="let element"> {{element.articleNo}} </td>
    </ng-container>
   
  
  
   
     <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let element"> {{element.size}} </td>
      </ng-container>
 
    
     
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


