
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px;">
         Select Article For Discount
        </mat-panel-title>
       
      </mat-expansion-panel-header>
      <form class="example-container" [formGroup]="categoryDiscountSettingsForm">
        <mat-grid-list cols="4" rowHeight="4:1" [gutterSize]="'10px'">
 
          
              <mat-grid-tile>
             <mat-form-field >
              <mat-label>Select Category</mat-label>
              <mat-select formControlName="CategoryC_Id" (selectionChange)="getSubCat($event.value)">
                <mat-option *ngFor="let category of CategoryList" [value]="category.c_Id">
                  {{category.name}}
                </mat-option>
              </mat-select>
             </mat-form-field>
            </mat-grid-tile>
             <mat-grid-tile>
             <mat-form-field *ngIf="show">
             <mat-label>Select Sub-Category</mat-label>
             <mat-select formControlName="SubCategoryS_Id" (selectionChange)="getSubSubCat($event.value)">
               <mat-option *ngFor="let subcategory of SubCategoryList" [value]="subcategory.s_Id">
                 {{subcategory.name}}
               </mat-option>
             </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field *ngIf="showS">
            <mat-label>Select Sub-Sub-Category</mat-label>
            <mat-select formControlName="SubSubCategoryS_Id"  (selectionChange)="getSubSubSubCat($event.value)">
              <mat-option *ngFor="let subSubcategory of SubSubCatList" [value]="subSubcategory.sub_S_Id">
                {{subSubcategory.name}}
              </mat-option>
            </mat-select>
           </mat-form-field>
         </mat-grid-tile>
         <mat-grid-tile>
          <mat-form-field *ngIf="showSS">
          <mat-label>Select Sub-Sub-Sub-Category</mat-label>
          <mat-select formControlName="SubSubSubCategoryS_Id" (selectionChange)="getSubSubSubSCat($event.value)">
            <mat-option *ngFor="let subSubSubcategory of SubSubSubCatList" [value]="subSubSubcategory.subSub_S_Id">
              {{subSubSubcategory.name}}
            </mat-option>
          </mat-select>
         </mat-form-field>
       </mat-grid-tile>
      </mat-grid-list>
          
         
      </form>
      
     
    <div class="search-div">
   
      <mat-form-field class="search-form-field" floatLabel="never">
      
       <input matInput type="text" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
       <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
         <mat-icon>close</mat-icon>
       </button>
      </mat-form-field>
  </div>
  
  <table mat-table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Position Column -->
   
  
    <!-- Name Column -->
    <ng-container matColumnDef="ArticleTitle">
      <th mat-header-cell *matHeaderCellDef> Article Name </th>
      <td mat-cell *matCellDef="let element"> {{element.articleTitle}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="StandardPrice">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.standardPrice}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="BrandName">
      <th mat-header-cell *matHeaderCellDef> Brand Name </th>
      <td mat-cell *matCellDef="let element"> {{element.brandName}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  <mat-paginator  [length]="100"
  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px;">
         Discount Settings
        </mat-panel-title>
       
      </mat-expansion-panel-header>
      <form [formGroup]="DiscountSettingsForm" (submit)="onSubmit()">
        <mat-grid-list cols="4" rowHeight="4:1" [gutterSize]="'10px'">
          <mat-grid-tile>
           
            <mat-form-field>
              <mat-label>Discount Percentage</mat-label>
              <input matInput type="number" formControlName="DiscountPercentage" min="1">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="FromDate" placeholder="Choose from date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" formControlName="ToDate" placeholder="Choose To date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            
          </mat-grid-tile>
          </mat-grid-list>
          
      
      
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px;">
         Discount Banner Settings
        </mat-panel-title>
       
      </mat-expansion-panel-header>
      <form [formGroup]="DiscountSettingsForm" (submit)="onSubmit()">
        <mat-grid-list cols="4" rowHeight="4:1" [gutterSize]="'10px'">
          <mat-grid-tile>
           
            <input type="file" #file placeholder="Choose Banner Image" (change)="uploadFile(file.files)" formControlName="Banner"  >
          
          </mat-grid-tile>
         
          <mat-grid-tile>
            
            <mat-form-field>
              <mat-label>Banner Name</mat-label>
              <input matInput type="text" formControlName="BannerName" >
            </mat-form-field>
          </mat-grid-tile>
          </mat-grid-list>
          
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px;">
         Discount Notification Settings
        </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="DiscountSettingsForm" (submit)="onSubmit()">
    <mat-grid-list cols="4" rowHeight="4:1" [gutterSize]="'10px'">
   
      <mat-grid-tile>
        
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="Title" >
        </mat-form-field>
      </mat-grid-tile>
      </mat-grid-list>
      <mat-form-field class="example-full-width">
        <mat-label>Notification Message</mat-label>
        <textarea matInput placeholder="Enter your message....." formControlName="NotificationMsg"></textarea>
      </mat-form-field>
      <p>
        <button mat-raised-button color="primary" class="btn_submit" style="margin-top: 10px;" [disabled]="DiscountSettingsForm.invalid">Submit</button>
      </p>
  
  </form>
</mat-expansion-panel>
  </mat-accordion>



  
