.mat-form-field {

    width: 220px;
    margin-left: 10px;
  }
 .btn_submit{
     margin-left: 10px;
     margin-top: 200px;
 }

 table {
    width: 100%;
  }
  .mat-column-select {
    overflow: initial;
  }
  
  .search-form-field{
      width: 60%;
      
      padding:5px 0px;
      
      border-radius: 5px;
  }
  .search-form-field div.mat-form-field-underline{
      display: none;
  }
  .search-form-field div.mat-form-field-infix{
      border-top: 0px;
  }
  .search-form-field div.mat-form-field-wrapper{
      padding-bottom: 0px;
  }
  .search-form-field div.mat-form-field-suffix button{
      height: 32px;
      width: 32px;
  }