
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title style="font-size: 20px;">
     Send Notification
    </mat-panel-title>
</mat-expansion-panel-header>
<form [formGroup]="DiscountSettingsForm" (submit)="onSubmit()">
<mat-grid-list cols="4" rowHeight="4:1" [gutterSize]="'10px'">

  <mat-grid-tile>
    
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="Title" >
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
  <mat-form-field class="example-full-width">
    <mat-label>Notification Message</mat-label>
    <textarea matInput placeholder="Enter your message....." formControlName="NotificationMsg"></textarea>
  </mat-form-field>
</mat-grid-tile>
  </mat-grid-list>
 
  <p>
    <button mat-raised-button color="primary" class="btn_submit" style="margin-top: 10px;" [disabled]="DiscountSettingsForm.invalid">Submit</button>
  </p>

</form>
</mat-expansion-panel>
