<h4 class="dispaly-4">Article Image Variant</h4>
<hr>
<form [formGroup]="service.imageForm" (submit)="onSubmit()">
    
  <div class="form-group">
    <label>Article Image</label>
    <div class="input-group">
      
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" formControlName="imageName"  >
    
    </div>
    <div class="input-group" style="margin-left: 20px;margin-top: 25px;">
    
    <input type="checkbox" class="form-check-input"  formControlName="isMaster"> <span> Is Master</span> 
     
  </div>
  <div class="input-group" style="margin-left: 20px;margin-top: 25px;">
    
    <input type="hidden" class="form-check-input"  formControlName="img_Id">
     
  </div>
  </div>
 
  
  <div class="form-group">
    <p>
      <button mat-raised-button color="primary" style="margin: 10px;" [disabled]="service.imageForm.invalid">Submit</button>
      <button mat-stroked-button color="warn" [mat-dialog-close] ><i class="fa fa-close"></i> Close</button>
    </p>
  </div>
</form>


