
    <form class="example-container" [formGroup]="agreementForm" (submit)="onSubmit()">
        <p>
            <mat-form-field>
                <mat-label>Select Zone</mat-label>
                <mat-select formControlName="RegionId" (selectionChange)="getArea($event.value)" >
                    <mat-option *ngFor="let district of DistrictMasterList" [value]="district.disT_ID" >
                        {{district.disT_NAME}}
                    </mat-option>
                  </mat-select>
               
              </mat-form-field>
              <mat-form-field>
                <mat-label>Select Area</mat-label>
                <mat-select formControlName="CityId"  >
                    <mat-option *ngFor="let area of DistrictAreaList" [value]="area.disT_AREA_ID" >
                        {{area.disT_AREA_NAME}}
                    </mat-option>
                  </mat-select>
               
              </mat-form-field>
              <mat-form-field>
                <mat-label>Select Company</mat-label>
                <mat-select formControlName="CompanyId"  >
                  <mat-option *ngFor="let company of CourierComanyList" [value]="company.company_Id" >
                      {{company.companyName}}
                  </mat-option>
                </mat-select>
              
              </mat-form-field>
              <mat-form-field >
                <mat-label>Amount</mat-label>
                <input matInput type="number" formControlName="DeliveryAmount" min="1">
               
              </mat-form-field>
        </p>
        <p>
        
            <mat-form-field class="example-full-width">
              <mat-label>Remarks</mat-label>
              <textarea matInput placeholder="Enter your message....." formControlName="Remarks"></textarea>
            </mat-form-field>
        
        </p>
      <p>
        <button mat-raised-button color="primary" class="btn_submit" style="margin-top: 10px;" [disabled]="agreementForm.invalid">Submit</button>
      </p>
        
      <!-- order items table-->
    
    </form>
    <hr>

    <div class="search-div">
   
      <mat-form-field class="search-form-field" floatLabel="never">
      
       <input matInput type="text" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
       <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
         <mat-icon>close</mat-icon>
       </button>
      </mat-form-field>
  </div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort >
    
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
    
    
      <!-- Name Column -->
      <ng-container matColumnDef="Zone Name">
        <th mat-header-cell *matHeaderCellDef > Zone Name</th>
        <td mat-cell *matCellDef="let element"> {{element.regionName}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Area Name">
        <th mat-header-cell *matHeaderCellDef > Area Name </th>
        <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef > Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.deliveryAmount}} </td>
      </ng-container>
      <ng-container matColumnDef="Action1">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
              <button mat-stroked-button color="primary" > Edit</button>
          
          </td>
      </ng-container>
      <ng-container matColumnDef="Action2">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
            <button mat-stroked-button color="warn"> Delete</button>
        
        </td>
    </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     
    </table>
    <mat-paginator  [length]="100"
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  