<h4 class="dispaly-4" style="margin-left: 55px;">Article Variant</h4>
<form class="example-container" [formGroup]="service.articleVariantForm" (submit)="onSubmit()" >
<p>
  <mat-form-field>
    <mat-label>Article No</mat-label>
    <input matInput type="text" formControlName="articleNo" min="1">
   
  </mat-form-field>
  <mat-form-field>
    <mat-label>Size</mat-label>
    <input matInput type="number" formControlName="size" min="1">
   

  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <mat-label>Color</mat-label>
    <input matInput type="text" formControlName="color" min="1">
   
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <select matNativeControl required formControlName="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
     
    </select>
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input matInput type="number" formControlName="quantity" min="1">
   
  </mat-form-field>
  <mat-form-field class="invisible">
    <mat-label>Size</mat-label>
    <input matInput type="number" formControlName="artV_Id" min="1">
   

  </mat-form-field>
</p>
<p>
  <button mat-raised-button color="primary" style="margin: 10px;"[disabled]="service.articleVariantForm.invalid">Submit</button>
  <button mat-stroked-button color="warn" [mat-dialog-close] ><i class="fa fa-close"></i> Close</button>
</p>
</form>