
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px;">
          Article Details
        </mat-panel-title>
       
      </mat-expansion-panel-header>
      <form [formGroup]="articleForm" (submit)="onSubmit()">
        <mat-grid-list cols="4" rowHeight="4:1" [gutterSize]="'10px'">
          
          <mat-grid-tile>
            
              <mat-form-field>
                <mat-label>Article Title</mat-label>
                <input matInput type="text" formControlName="ArticleTitle" >
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Article Subtitle</mat-label>
                <input matInput type="text" formControlName="ArticleSubTitle" >
              </mat-form-field>
            </mat-grid-tile>
           
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Select Brand</mat-label>
                <mat-select formControlName="Brand_Id">
                  <mat-option *ngFor="let brand of BrandList" [value]="brand.brand_Id">
                    {{brand.brandName}}
                  </mat-option>
                </mat-select>
               </mat-form-field>
               
              </mat-grid-tile>
              <mat-grid-tile>
                
                <mat-checkbox formControlName="IsNewAraival" style="margin-top: 20px;">New Arrival</mat-checkbox>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                  <mat-label>Article Code</mat-label>
                  <input matInput type="text" formControlName="ArticleCode" >
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
             <mat-form-field >
              <mat-label>Select Category</mat-label>
              <mat-select formControlName="CategoryC_Id" (selectionChange)="getSubCat($event.value)">
                <mat-option *ngFor="let category of CategoryList" [value]="category.c_Id">
                  {{category.name}}
                </mat-option>
              </mat-select>
             </mat-form-field>
            </mat-grid-tile>
             <mat-grid-tile>
             <mat-form-field *ngIf="show">
             <mat-label>Select Sub-Category</mat-label>
             <mat-select formControlName="SubCategoryS_Id" (selectionChange)="getSubSubCat($event.value)">
               <mat-option *ngFor="let subcategory of SubCategoryList" [value]="subcategory.s_Id">
                 {{subcategory.name}}
               </mat-option>
             </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field *ngIf="showS">
            <mat-label>Select Sub-Sub-Category</mat-label>
            <mat-select formControlName="SubSubCategoryS_Id"  (selectionChange)="getSubSubSubCat($event.value)">
              <mat-option *ngFor="let subSubcategory of SubSubCatList" [value]="subSubcategory.sub_S_Id">
                {{subSubcategory.name}}
              </mat-option>
            </mat-select>
           </mat-form-field>
         </mat-grid-tile>
         <mat-grid-tile>
          <mat-form-field *ngIf="showSS">
          <mat-label>Select Sub-Sub-Sub-Category</mat-label>
          <mat-select formControlName="SubSubSubCategoryS_Id">
            <mat-option *ngFor="let subSubSubcategory of SubSubSubCatList" [value]="subSubSubcategory.subSub_S_Id">
              {{subSubSubcategory.name}}
            </mat-option>
          </mat-select>
         </mat-form-field>
       </mat-grid-tile>
          </mat-grid-list>
          
          <angular-editor [config]="config" formControlName="Description"></angular-editor>
        <!-- order items table-->

        <mat-form-field class="invisible">
          
          <input matInput type="number" formControlName="ArticleId" >
        </mat-form-field>
        <mat-form-field class="invisible">
          
          <input matInput type="number" formControlName="PricingId" >
        </mat-form-field>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px;">
         Pricing
        </mat-panel-title>
      </mat-expansion-panel-header>
     
      <form [formGroup]="articleForm" (submit)="onSubmit()">
        <mat-grid-list cols="4" rowHeight="4:1" [gutterSize]="'10px'">
          <mat-grid-tile>
           
              <mat-form-field>
                <mat-label>Standard Price</mat-label>
                <input matInput type="number" formControlName="StandardPrice" min="1">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
             <mat-form-field>
              <mat-label>Franchise Price</mat-label>
           
                <input matInput type="number" formControlName="FranchisePrice" min="1" >
              
             </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
             <mat-form-field>
             <mat-label>Institute Price</mat-label>
             <input matInput type="number" formControlName="InstitutePrice" min="1" >
            </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
            <mat-form-field>
              <mat-label>Whole Sale Price</mat-label>
              <input matInput type="number" formControlName="WholeSalePrice" min="1" >
             </mat-form-field>
            </mat-grid-tile>
              <mat-grid-tile>
             <mat-form-field>
              <mat-label>Dealer Price</mat-label>
              <input matInput type="number" formControlName="DealerPrice" min="1" >
             </mat-form-field>
            </mat-grid-tile>
              <mat-grid-tile>
             <mat-form-field>
              <mat-label>Other Price</mat-label>
              <input matInput type="number" formControlName="OtherPrice" min="1" >
             </mat-form-field>
           
            </mat-grid-tile>
       
         
          <mat-grid-tile>
          
              <mat-form-field>
                <mat-label>Select Vat Type</mat-label>
                <mat-select formControlName="Vat_Id"> 
                  <mat-option *ngFor="let vat of VatList" [value]="vat.vat_Id">
                    {{vat.vatTypeName}}
                  </mat-option>
                </mat-select>
               </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Purchase Cost</mat-label>
              <input matInput type="number" formControlName="PurchaseCost" min="1" >
             </mat-form-field>
          </mat-grid-tile>
             
        
          </mat-grid-list>
        <!-- order items table-->
       
      </form>
  
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px;">
         Article Variant
        </mat-panel-title>
      </mat-expansion-panel-header>
      
     
      <table class="table table-borderless">
        <thead class="thead-light">
          <th>Article No</th>
          <th>Color</th>
          <th>Size</th>
          <th>Gender</th>
          <th>Quantity</th>
           
          <th>
            <a class="btn btn-sm btn-success text-white" (click)="AddOrEditAriticleVariant()"> Add Article Variant</a>
          </th>
        </thead>
        <tbody>
        
    
          <tr *ngFor="let item of service.ArticleVariantList;">
            <td>{{item.articleNo}}</td>
            <td>{{item.size}}</td>
            <td>{{item.color}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.quantity}}</td>
            
            <td>
              <a class="btn btn-sm btn-info text-white" (click)="EditArticleVariant(item)"><i class="fa fa-pencil"></i></a>
              <a class="btn btn-sm btn-danger text-white ml-1" (click)="DeleteArticleVariant(item)"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    
      
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px;">
         Article Image Variant
        </mat-panel-title>
      </mat-expansion-panel-header>
  
        
      
        <table class="table table-borderless">
          <thead class="thead-light">
            <th>Article Image</th>
            <th>Master Image</th>
            <th>
              <a class="btn btn-sm btn-success text-white" (click)="AddOrEditImage()"><i class="fa fa-plus"></i> Add Article Image</a>
            </th>
          </thead>
          <tbody>
           
      
            <tr *ngFor="let item of service.ArticleImageList;">
              <td ><img style="width:10%;" [src]="service.imgUrl+item.imageName" /></td>
              <td>{{item.isMaster}}</td>
              <td>
                <a class="btn btn-sm btn-info text-white" (click)="EditArticleImage(item)"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-danger text-white ml-1" (click)="DeleteArticleImage(item)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

    </mat-expansion-panel>
  </mat-accordion>
  <form [formGroup]="articleForm" (submit)="onSubmit()">
    <button mat-raised-button color="primary" style="margin-top: 10px;" [disabled]="articleForm.invalid">Submit</button>
  </form>
<hr>

<div class="search-div">
   
  <mat-form-field class="search-form-field" floatLabel="never">
  
   <input matInput type="text" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
   <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
     <mat-icon>close</mat-icon>
   </button>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->



  <!-- Name Column -->
  <ng-container matColumnDef="Article Name">
    <th mat-header-cell *matHeaderCellDef > Article Name </th>
    <td mat-cell *matCellDef="let element"> {{element.articleTitle}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Article Code">
    <th mat-header-cell *matHeaderCellDef > Article Code </th>
    <td mat-cell *matCellDef="let element"> {{element.articleCode}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef > Price </th>
    <td mat-cell *matCellDef="let element"> {{element.standardPrice}} </td>
  </ng-container>
  <ng-container matColumnDef="Action1">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
          <button mat-stroked-button color="primary" (click)="EditArticle(row)"><i class="fa fa-edit"></i> Edit</button>
      
      </td>
  </ng-container>
  <ng-container matColumnDef="Action2">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
        <button mat-stroked-button color="warn" (click)="DeleteArticle(row)"><i class="fa fa-trash"></i> Delete</button>
    
    </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 
</table>
<mat-paginator  [length]="100"
[pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

  