<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 20px;">
            Courier Details
          </mat-panel-title>
         
        </mat-expansion-panel-header>
        <form [formGroup]="courierForm" (submit)="onSubmit()">
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
              <div class="controls-contailer">
                <mat-form-field>
                  <mat-label>Company Name </mat-label>
                  <input matInput type="text" formControlName="companyName" >
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Contact Person</mat-label>
                  <input matInput type="text" formControlName="contactPerson" >
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput type="email" formControlName="email" >
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Website</mat-label>
                    <input matInput type="text" formControlName="website" >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input matInput type="text"  formControlName="phone" (keypress)="keyPress($event)" minlength=11 maxlength=11>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Status</mat-label>
                    <select matNativeControl required formControlName="status">
                      <option value="Active">Active</option>
                      <option value="InActive">InActive</option>
                     
                    </select>
                  </mat-form-field>
              
              </div>
              
            </mat-grid-tile>
           
         
        
            
            
            </mat-grid-list>
            
            <angular-editor [config]="config" formControlName="Remarks"></angular-editor>
          <!-- order items table-->
        
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 20px;">
           Courier Contact Person
          </mat-panel-title>
        </mat-expansion-panel-header>
        
       
        <table class="table table-borderless">
          <thead class="thead-light">
            <th>Person Name</th>
            <th>Phone-1</th>
            <th>Phone-2</th>
            <th>Status</th>
             
            <th>
              <a class="btn btn-sm btn-success text-white" (click)="AddOrEditAriticleVariant()"> Add Contact Person</a>
            </th>
          </thead>
          <tbody>
        
    
            <tr *ngFor="let item of service.ContactPersonList">
              <td>{{item.personName}}</td>
              <td>{{item.phone1}}</td>
              <td>{{item.phone2}}</td>
              <td>{{item.status}}</td>
             
              
              
              <td>
               
                <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteItem(item)"></a>
              </td>
            </tr>
          </tbody>
          
        </table>
      
        
      </mat-expansion-panel>
</mat-accordion>
<form [formGroup]="courierForm" (submit)="onSubmit()">
    <button mat-raised-button color="primary" [disabled]="courierForm.invalid" style="margin-top: 10px;" >Submit</button>
  </form>
  <hr>

  <div class="search-div">
   
    <mat-form-field class="search-form-field" floatLabel="never">
    
     <input matInput type="text" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
     <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
       <mat-icon>close</mat-icon>
     </button>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort >
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
  
  
    <!-- Name Column -->
    <ng-container matColumnDef="Company Name">
      <th mat-header-cell *matHeaderCellDef > Company Name</th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Contact Person">
      <th mat-header-cell *matHeaderCellDef > Contact Person </th>
      <td mat-cell *matCellDef="let element"> {{element.contactPerson}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef > Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="Action1">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
            <button mat-stroked-button color="primary" > Edit</button>
        
        </td>
    </ng-container>
    <ng-container matColumnDef="Action2">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
          <button mat-stroked-button color="warn" > Delete</button>
      
      </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
  </table>
  <mat-paginator  [length]="100"
  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
