.mat-form-field {

    width: 200px;
    margin: 5px;
  }
  .normal-form{  
    margin: 10px;
  }
  
  table {
    width: 100%;
  }
  .mat-grid-tile{
  margin: 2px;
  }
  .example-margin {
    margin-left: 5px;
    
  }
  
  table {
    width: 100%;
  }
  .mat-column-select {
    overflow: initial;
  }
  
  .search-form-field{
      width: 60%;
      
      padding:5px 10px;
      
      border-radius: 5px;
  }
  .search-form-field div.mat-form-field-underline{
      display: none;
  }
  .search-form-field div.mat-form-field-infix{
      border-top: 0px;
  }
  .search-form-field div.mat-form-field-wrapper{
      padding-bottom: 0px;
  }
  .search-form-field div.mat-form-field-suffix button{
      height: 32px;
      width: 32px;
  }